@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

header {
   background-image: url(/unit_3/images/stock-photo-harmony-of-family-relations-243296038.jpg);
   background-size: cover;
   background-repeat: no-repeat;
}
h1 {
  font-size: 14pt;
  font-family: 'Cormorant Garamond', serif;
}

h2 {
  font-size: 12pt;
  font-family: 'Cormorant Garamond', serif;
}

h3 {
  font-size: 10pt;
  font-family: 'Cormorant Garamond', serif;
}

h4 {
  font-size: 8pt;
  font-family: 'Cormorant Garamond', serif;
}

p {
  font-size: 8pt;
  font-family: 'Cormorant Garamond', serif;
}

.topbar {
	background-color: rgba(100, 113, 172, 0.7);
}

#logo {
	display: inline;
	float: left;
}

nav{
  font-family: sans-serif;	
  display: inline;
  float: right;
 }

 #slogan {
    font-family: 'Cormorant Garamond', san-serif;
}

 #EM_photo {
}

.blog_image {

}
.recipe_image {

}