body {
  background: url("/Users/jsmith/Documents/GENERAL ASSEMB.LY/GitHubRepositories/designedbyjensmith.github.io/unit_3/images/stock-photo-harmony-of-family-relations-243296038.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Helvetica;
}

.blog_image {
	height: 100px;
}
