section1 {
  background-image: url("/unit_3/images/stock-photo-harmony-of-family-relations-243296038.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Helvetica;
}  

section2 {
  background: #ee82ee;
}

.blog_image {
	height: 100px;
}
